.root {
  --white-color: #fff;
  min-height: 100vh;
  background: var(--white-color);
}

.sider {
  height: 100%;
  position: fixed;
  z-index: 3;
  background-color: #38444D;
}

.header {
  background: var(--white-color);
  box-shadow: 0 1px 4px hsla(209, 100%, 8%, 0.08);
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.content {
  position: fixed;
  margin-top: 64px;
  width: 100% !important;
  padding-left: 225px;
  z-index: 1;
}

.contentMobile {
  width: 100%;
  margin-top: 64px;
  padding-left: 65px;
  z-index: 1;
}

@media (max-width: 1281px) {
  .header {
    padding-right: 20px;
  }
  .content {
    padding-left: 65px;
  }
}