.root {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
  }
  
  .form {
    display: flex;
    width: 512px;
    margin-top: 125px;
    padding: 28px;
    height: fit-content;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .root {
      grid-template-columns: 1fr;
    }
  
    .form {
      padding: 3em;
    }
  
    .carousel {
      display: none;
    }
  }